@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<address>
    La Libertad - Trujillo<br />
    Av. Guzman Barron 799<br />
    Telf. 044-231899
</address>

<address>
    <strong>Soporte</strong> <a href="mailto:soporte.cbazan@gmail.com">soporte.cbazan@gmail.com</a><br />
    <strong>Marketing</strong> <a href="mailto:marketing.cbazan@gmail.com">marketing.cbazan@gmail.com</a>
</address>