@{
    ViewBag.Title = "CBazan Suministros";
}

<div class="jumbotron">
    <h1>Servicios Multiples C&B Cardenas</h1>
    <p class="lead">Es una empresa que se dedica a la comercialización de suministros para equipos de computo, 
			además ofrece servicio tecnico de calidad y personalizado desde equipos de uso domestico hasta servidores, tambien realizamos instalaciones de cercos electricos, Instalaciones de camaras CCTV, Instalaciones Electricas.
	 </p>


</div>